
<div class="modal-container">
   
    <form (ngSubmit)="submitForm()">
        <tr>
            <td style="margin-left: 60px;">
        <div class="form-group" >
           <label for="nombre"> <strong> Nombre del Producto:</strong> {{nombreproducto}}  </label>
          
        </div>

        </td>
        <td style="padding-left: 70px;">
            <div class="form-group" >
                <label for="descripcion"><strong> Cantidad Inventario:</strong> {{stockinventario}} </label>
            </div>

        </td>
      </tr>
         <tr>
            <td>
        
        <div class="form-group" >
            <label for="descripcion"><strong>Cantidad Entrada:</strong>  </label>
            <input type="number" id="cantidad" name="cantidad" min="0" step="0.01" [(ngModel)]="cantidad" required>
        </div>
    
    </td>
    <td>
        <div class="form-group" style="margin-left: 70px;">
            <label for="precio"><strong>Precio Total: </strong> </label>
            <input id="precio" name="precio"  min="0" step="0.01" [(ngModel)]="precioentrada" required>
        </div>
        
    </td>
    
</tr>
<tr>
    <td colspan="2" align="center">
        <div class="form-group" >
            <label for="precio"><strong>Detalle:</strong> </label>
            
            <textarea type="number" id="detalle" name="detalle"  min="0" step="0.01" [(ngModel)]="detalle" required></textarea>
        </div>
        
    </td>
</tr>

    
        <button type="submit">Editar</button>
    </form>
</div>





