table.center {
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  table.center td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  table.center input[type="text"] {
    width: 100%;
    box-sizing: border-box;
  }
  
  table.center button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  table.center button:hover {
    background-color: #45a049;
  }
  
  .pi:hover {
    color: rgb(255, 0, 0); /* Cambia el color del icono cuando el mouse está sobre él */
    cursor: pointer; /* Cambia el cursor a un puntero */
}

.uppercase-input {
  text-transform: uppercase;
}


.container {
  max-width: 100%; /* Ocupa todo el ancho disponible */
  margin: 0 auto; /* Centra el div horizontalmente */
  padding: 10px; /* Añade espacio interno al contenido */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  overflow-x: auto; /* Permite desplazamiento horizontal si el contenido es demasiado ancho */
}



