<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-table #dt1 [value]="allproductos" [tableStyle]="{ 'min-width': '68rem' }"
[paginator]="true"
[rows]="1"
[globalFilterFields]="['nombre','codigo']"
[scrollable]="true" 


>
<ng-template pTemplate="caption">
    <tr>
        <th>
            <span>{{fechaDeHoy}}</span>
        </th>   
    
        <th style="flex-grow: 1; display: flex; justify-content: center; font-size: 40px;">
 
            ENTRADAS
        </th>
    
        <th style="flex-grow: 1; display: flex; justify-content: flex-end;">   
            <span class="p-input-icon-right" style="margin-left: 800px;">
                <i class="pi pi-search" style="margin:1px 1px 80"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal(
                    $any($event.target).value, 'contains')" placeholder="Busqueda" />
            </span>
        </th>
    </tr>
    

</ng-template>



    <ng-template pTemplate="body" let-product>
     
           
            <table class="center">
                <tr>
                    <td>Producto: {{ product.nombre }}</td> 
                </tr>
                <tr>
                  <td>Cantidad: <input type="number" style="width: 100px;" #cantidadInput></td>
                </tr>
                <tr>
                  <td align="center" ><button (click)="agregarVenta(product.idproducto,product.nombre,cantidadInput.value)" >Agregar</button></td>
                </tr>
              </table>
       
        
    </ng-template>
    
</p-table>





<p-table #dt2 [value]="entradas" [tableStyle]="{ 'min-width': '68rem' }"
[paginator]="true"
[rows]="3"
[globalFilterFields]="['nombre','codigo']"

>




<ng-template pTemplate="header">
    <tr>
        <th>Codigo</th>
        <th pSortableColumn="nombre">Nombre</th>
        <th >Precio</th>
        <th>Fecha</th>
        <th>Cantidad</th>

        
    </tr>
</ng-template>

<ng-template pTemplate="body" let-entradas>
    <tr>
        <td>{{ entradas.identradas?.codigo }}</td>
        <td>{{ entradas.identradas?.nombre }}</td>
        <td>{{ entradas.identradas?.precio }}</td>
        <td>{{ entradas.created_at }}</td>
        <td>{{ entradas.cantidad }}</td>
       
        
        
    </tr>
</ng-template>
    
</p-table>


