<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-table #dt1 [value]="allproductos" [tableStyle]="{ 'min-width': '68rem' }"
[paginator]="true"
[rows]="1"
[globalFilterFields]="['nombre','codigo']"
[scrollable]="true" 


>
<ng-template pTemplate="caption">
    <tr>
        <th>
            <span>FECHA: {{fechaDeHoy}}</span>
        </th>   
    
        <th style="flex-grow: 1; display: flex; justify-content: center; font-size: 40px;">
 
            SALIDAS
        </th>
    
        <th style="flex-grow: 1; display: flex; justify-content: flex-end;">   
            <span class="p-input-icon-right" style="margin-left: 800px;">
                <i class="pi pi-search" style="margin:1px 1px 80"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal(
                    $any($event.target).value, 'contains')" placeholder="Busqueda" />
            </span>
        </th>
    </tr>
    

</ng-template>



<ng-template pTemplate="body" let-product>
     
           
    <table class="center">
        <tr>
            <td   align="center"><strong>Producto:</strong> {{ product.nombre }}</td> 
            <td><strong>Stock:</strong> {{product.stock}}</td>
        </tr>
        <tr>
          
          <td><strong>Precio Unidad:</strong>{{product.precio}}</td>
          <td> <strong>Salida:</strong><input type="number" style="width: 100px;" [(ngModel)]="cantidadAComprar" ></td>
        </tr>
        <tr>
            <td><strong>Precio Total:</strong> {{ getPrecioTotal(product.precio,cantidadAComprar,descuento) }}</td>
            <td><strong>Descuento:</strong><input type="number" id="descuento" name="descuento"  min="0" step="0.01" style="width: 100px;"[(ngModel)]="descuento" ></td>
            
          </tr>
        <tr>
          <td colspan="2" align="center" ><button (click)="agregarSalida(product.idproducto,product.precio,cantidadAComprar,product.stock,descuento)" >Agregar</button></td>
        </tr>
      </table>


</ng-template>
    
</p-table>





<p-table #dt2 [value]="salidas" [tableStyle]="{ 'min-width': '68rem' }"
[paginator]="true"
[rows]="3"
[globalFilterFields]="['nombre','codigo']"

>




<ng-template pTemplate="header">
    <tr>
        <th>Codigo</th>
        <th pSortableColumn="nombre">Nombre</th>
        <th >Catidad</th>
        <th>Precio Total</th>
        <th>Fecha</th>
        <th>Opciones</th>
        <th>Proforma</th>

        
    </tr>
</ng-template>

<ng-template pTemplate="body" let-salidas>
    <tr>
        <td>{{ salidas.idsalidas?.codigo }}</td>
        <td>{{ salidas.idsalidas?.nombre }}</td>
        <td>{{ salidas.cantidad }}</td>
        <td>{{ salidas.preciototal }}</td>
        <td>{{ salidas.created_at | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>
        <span class="icon">
            <i class="pi pi-pencil" style="font-size: 1rem;color: rgb(157, 216, 63); margin-right: 5px;" (click)="editarProducto(salidas.idsalidas?.nombre,salidas.idsalida,salidas.cantidad,salidas.preciototal,salidas.preciosalida,salidas.idsalidas?.stock,salidas.idproducto,salidas.descuento)" title="Editar"></i>
            <i class="pi pi-trash" style="font-size: 1rem;color: rgb(216, 63, 63); margin-right: 5px;" (click)="eliminar(salidas.idsalida,salidas.identradas?.nombre,salidas.idproducto,salidas.cantidad)" title="Eliminar"></i>

        </span>
    </td>
    <td>
        <span class="icon-container">
          <i class="pi pi-file-o" style="font-size: 1rem; color: rgb(63, 73, 216); margin-right: 5px;" (click)="proforma(salidas.idsalida,salidas.proformas?.estado,salidas.proformas?.nombre,salidas.proformas?.ci,salidas.proformas?.telefono)" title="Eliminar"></i>
          <p-tag 
          [value]="getEstadoText(salidas.proformas?.estado)" 
          [severity]="getSeverity(salidas.proformas?.estado)">
        </p-tag>
        
        </span>
      </td>
      
      
      
</ng-template>
    
</p-table>


