<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-splitter [style]="{ height: '100vh' ,width:'100%'}" styleClass="mb-5" [panelSizes]="[75, 25]">
    <ng-template pTemplate>
        <!-- Primera mitad: tablas de productos y salidas -->
        <div style="height: 100%; overflow-y: auto;">
            <p-table #dt1 [value]="allproductos" [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="true"
                [rows]="1"
                [globalFilterFields]="['nombre','codigo']"
                [scrollable]="true">
                
                <ng-template pTemplate="caption">
                    <tr style="display: flex; justify-content: space-between;">
                        <th>
                            <span>FECHA: {{fechaDeHoy}}</span>
                        </th>
                        <th style="flex-grow: 1; display: flex; justify-content: center;">
                            SALIDAS
                        </th>
                        <th style="display: flex; align-items: center;">
                            <span class="p-input-icon-right">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Busqueda" />
                            </span>
                        </th>
                    </tr>
                </ng-template>
                

                <ng-template pTemplate="body" let-product>
                    <table class="center">
                        <tr>
                            <td align="center"><strong>Producto:</strong> {{ product.nombre }}</td>
                            <td><strong>Stock:</strong> {{ getStock(product.idproducto,product.stockproductos[this.selectedStock].stock,product.cantidadvista) }}</td>
                        </tr>
                        <tr>
                            <td><strong>Precio Unidad:</strong>
                                <select id="precioSelect" (change)="onPrecioChange($event)">
                                    <option value="" selected disabled>Seleccione monto</option>
                                <option *ngFor="let producto of product.stockproductos" [value]="producto.precio">
                                  {{ producto.precio }}
                                </option>
                              </select></td>
                            <td><strong>Salida:</strong><input type="number" style="width: 100px;" [(ngModel)]="product.cantidadvista" ></td>
                        </tr>
                        <tr>
                            <td><strong>Precio Total:</strong> {{ getPrecioTotal(this.selectedPrecio,product.cantidadvista,descuento) }}</td>
                            <td><strong>Descuento:</strong><input type="number" id="descuento" name="descuento" min="0" step="0.01" style="width: 100px;" [(ngModel)]="descuento"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><button (click)="agregarSalida(product.idproducto,product.precio,product.cantidadvista,product.stockproductos[this.selectedStock].stock,descuento,product.nombre,product.stockproductos[this.selectedStock].idstockproducto )">Agregar</button></td>
                        </tr>
                    </table>
                </ng-template>
            </p-table>

            <p-splitter layout="vertical" [panelSizes]="[15, 85]">
            <ng-template pTemplate>
        
                <app-panelinferior-salida></app-panelinferior-salida>
            </ng-template>

        </p-splitter>
        </div>
    </ng-template>

    


    <ng-template pTemplate>
        <!-- Segunda mitad: componente separado -->
        <app-panel-derecho  ></app-panel-derecho>
    </ng-template>
</p-splitter>
