<div class="panel">
    <h3>Fecha:{{this.fechaDeHoy}}</h3>
   
    <hr>
    <ul>
      <li *ngFor="let item of panelItems">{{ item }}</li>
    </ul>
  </div>
  

  <h2>Por Mes y Año</h2>



   





 <div class="container-center">
  
 
  
  
  <div class="inner-container">
   
      <div class="box">
        <div class="header">Año:</div>
        <p-dropdown [options]="anios" [(ngModel)]="selectanio" optionLabel="anio"  placeholder="Seleccione Año"></p-dropdown>
      </div>

      <div class="box">
        <div class="header"> Mes:</div>
       <p-dropdown [options]="mes" [(ngModel)]="selectmes" optionLabel="mes"  placeholder="Seleccione Mes"></p-dropdown>
      </div>
     

      <div class="box">
        <p-radioButton 
                name="opcion" 
                value="entrada" 
                [(ngModel)]="tiporeporte" 
                inputId="entradaOption" />
            <label for="entradaOption" class="ml-2">
                Entrada
            </label>
      </div>

      <div class="box">
        <p-radioButton 
        name="opcion" 
        value="salida" 
        [(ngModel)]="tiporeporte" 
        inputId="salidaOption" />
    <label for="salidaOption" class="ml-2">
        Salida
    </label>
      </div>
     

  
    

      <div class="box-button">
        <p-button (click)="generarReporte(selectanio,selectmes,tiporeporte)" >Generar Reporte</p-button>
      </div>
      
      
     
      
  </div>
  
 
   
 
</div>

