<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-treeTable #dt1 [value]="files" 
    [scrollable]="true"  
    [paginator]="true"
    [rows]="4"
    
    [tableStyle]="{ 'min-width': '68rem' }"
    [globalFilterFields]="['nombre','codigo']">
    
    <ng-template pTemplate="caption">
        <tr>
            <th>
                <button (click)="agregarProducto()" style="margin-right: 10px;">Agregar Producto</button>
            </th>   
            <th style="flex-grow: 1; display: flex; justify-content: flex-end;">   
                <span class="p-input-icon-right" style="margin-left: 700px;">
                    <i class="pi pi-search" style="margin:3px 3px 100"></i>
                    <input  pInputText type="text" (input)="dt1.filterGlobal(
                $any($event.target).value, 'contains')"placeholder="Busqueda" />
                </span>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Imagen</th>
           
            <th>Stock Total</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <ng-container *ngIf="rowData.idstockproducto">
            <tr [ttRow]="rowNode">
                <td>
                    <strong>Código:</strong> {{ rowData.codigo }}
                    
                </td>
                <td>
                    <strong>Precio Unitario:</strong> {{ rowData.precio }}
                </td>
                
                <td>
                    <strong>Stock:</strong> {{ rowData.stock }}
                </td>
                
                <td>
                    <strong>Fecha de Creación:</strong> {{ formatearFecha(rowData.created_at) }}
                </td>
                <td colspan="2">
                    <strong>Opciones:</strong> 
                    <i class="pi pi-pencil" style="font-size: 1rem; color: rgb(157, 216, 63); margin-right: 5px;" (click)="editarsubProducto(rowData.idstockproducto)" title="Editar"></i>
                    <i class="pi pi-trash" style="font-size: 1rem; color: rgb(216, 63, 63); margin-right: 5px;" (click)="eliminarsubProducto(rowData.idstockproducto,rowData.stock)" title="Eliminar"></i>
                </td>
            </tr>
        </ng-container>
        <ng-container *ngIf="!rowData.idstockproducto">
            <tr [ttRow]="rowNode">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{ rowData.codigo }}
                </td>
                <td>{{ rowData.nombre }}</td>
                <td>
                    <img *ngIf="rowData.image" [src]="urlImage + rowData.image" alt="Imagen del Producto" width="75" height="75" class="imagen-con-contorno">
                    <img *ngIf="!rowData.image" src="assets/images/SINFOTO.jpg" alt="Imagen Alternativa" width="75" height="75" class="imagen-con-contorno">
                </td>
                
                <td>{{ rowData.stock }}</td>
                <td>
                    <p-tag [value]="(rowData.stock === 0 || rowData.stock === 1) ? 'Sin stock' : (rowData.stock > 1 && rowData.stock < 10) ? 'Normal' : 'Con stock'" [severity]="getSeverity(rowData.stock)"></p-tag>
                </td>
                <td>
                    <span class="icon">
                        <i class="pi pi-eye" style="font-size: 1rem; color: rgb(63, 216, 132); margin-right: 5px;" title="Ver" (click)="verProducto(rowData.idproducto)"></i>
                        <i class="pi pi-pencil" style="font-size: 1rem; color: rgb(157, 216, 63); margin-right: 5px;" (click)="editarProducto(rowData.idproducto)" title="Editar"></i>
                        <i class="pi pi-trash" style="font-size: 1rem; color: rgb(216, 63, 63); margin-right: 5px;" (click)="eliminar(rowData.idproducto,rowData.stock)" title="Eliminar"></i>
                    </span>
                </td>
            </tr>
        </ng-container>
    </ng-template>
</p-treeTable>
