
<p-splitter [panelSizes]="[15, 85]" [style]="{ height: '100vh' ,width:'100%'}" styleClass="mb-5" >
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center panel-iconos">
        <div class="logo-container">  <img alt="dropdown icon" src="/assets/icons/logo9.png"></div>
          <div (click)="mostrarVista('vista0')" class="icono-panel"><i class="pi pi-home"></i> Inicio</div>
          <div (click)="mostrarVista('vista1')" class="icono-panel"><i class="pi pi-cart-plus"></i> Productos</div>
          <div (click)="mostrarVista('vista2')" class="icono-panel"><i class="pi pi-box"></i> Ingresos </div>
          <div (click)="mostrarVista('vista6')" class="icono-panel"><i class="pi pi-dollar"></i> Salidas </div>
          
          
          
          
          <div class="icono-panel" (click)="toggleOptions()">
            <i class="pi pi-file"></i> Reporte de Ventas
            <div *ngIf="showOptions" class="opciones">
              <div (click)="mostrarVista('vista3')">&nbsp;&nbsp;<i class="pi pi-angle-right"></i>Ventas por Fecha</div>
              <div (click)="mostrarVista('vista5')">&nbsp;&nbsp;<i class="pi pi-angle-right"></i>Ventas Anuales-Mensuales</div>
              <div (click)="mostrarVista('vista7')">&nbsp;&nbsp;<i class="pi pi-angle-right"></i>Ventas Diarias</div>
              
            </div>
          </div>


          <div class="icono-panel" *ngIf="rol === '1'" (click)="toggleOptions2()">
            <i class="pi pi-briefcase"></i> Administrar
            <div *ngIf="showOptions2" class="opciones">
             
              <div *ngIf="rol === '1'"(click)="mostrarVista('vista8')">&nbsp;&nbsp;<i class="pi pi-angle-right"></i>Adm.Entradas </div>
             <!--  <div *ngIf="rol === '1'"(click)="mostrarVista('vista10')">&nbsp;&nbsp;<i class="pi pi-angle-right"></i>Adm.Salidas</div> -->
              <div *ngIf="rol === '1'"(click)="mostrarVista('vista9')">&nbsp;&nbsp;<i class="pi pi-angle-right"></i>Adm. Proformas</div>
              
              
            </div>
          </div>

          
          
          
          <div *ngIf="rol === '1'" (click)="mostrarVista('vista4')" class="icono-panel"><i class="pi pi-user"></i> Administrador</div>
          <div  (click)="mostrarVista('vista10')" class="icono-panel"><i class="pi pi-download"></i> Respaldo</div>
          <div (click)="logout()" class="icono-panel"><i class="pi pi-sign-out"></i> Salir ({{this.username}})</div>

         
        </div>
      </ng-template>

    


    <ng-template pTemplate>
     
      <app-inicio *ngIf="vista === 'vista0'"></app-inicio>
        <app-productos *ngIf="vista === 'vista1'"></app-productos>
        <app-entradasalida *ngIf="vista === 'vista2'"></app-entradasalida>
        <app-informe *ngIf="vista === 'vista3'"></app-informe>
        <app-informemensual *ngIf="vista === 'vista5'"></app-informemensual>
        <app-informediario *ngIf="vista === 'vista7'"></app-informediario>
        <app-salidas *ngIf="vista === 'vista6'"></app-salidas>
        <app-adminentradassalidas *ngIf="vista === 'vista8'"></app-adminentradassalidas>
        <app-adminproforma *ngIf="vista === 'vista9'"></app-adminproforma>
       <!-- <app-adminsalidas *ngIf="vista === 'vista10'"></app-adminsalidas>-->
        <app-admin *ngIf="vista === 'vista4'"></app-admin>
        <app-backup *ngIf="vista === 'vista10'"></app-backup>
    </ng-template>

   

</p-splitter>

