<p-toast></p-toast>
<div class="login-container">
  <form class="login-form" (ngSubmit)="login()">
    <h2>Bienvenido </h2>
    <div class="logo-container">  <img alt="dropdown icon" src="/assets/icons/logo9.png"></div>
    <div class="input-group">
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Ingrese su Usuario" required>
    </div>
    <div class="input-group">
      <label for="password">Constraseña:</label>
      <input type="password" id="password" name="password"  [(ngModel)]="password"  placeholder="Ingrese su contraseña" required>
    </div>
    <button type="submit">Ingrese</button>

   
  </form>
  
 
  
</div>


<footer class="footer">
  <p>&copy; 2024 TuNombre. Todos los derechos reservados.</p>
</footer>