<div class="modal-container">
    <div class="modal-content" *ngFor="let dat of miProducto; let i = index">
    
        <form (ngSubmit)="submitForm()">
        <div class="form-group" >
            <label for="nombre">Nombre del Producto:  </label>
            <input type="text" id="nombre" name="nombre" (input)="onInputChange($event, dat)"  [(ngModel)]="dat.nombre" class="uppercase-input" required>
        </div>

        <tr>
            <td style="padding-left: 100px;">
                <div class="form-group" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
                    <label for="categoria">Código:</label>
                    <label>{{dat.codigo}}</label>
                </div>
            </td>
            
        
    <td style="padding-left: 110px;">
        <div class="form-group" >
            <label for="Imagen">     Imagen:  </label>
            <img *ngIf="nombreImage !== null"  [src]="urlImage+nombreImage" alt="Imagen del Producto" width="150" class="imagen-con-contorno">
            <img *ngIf="nombreImage === null" src="assets/images/SINFOTO.jpg" alt="Imagen Alternativa" width="150" class="imagen-con-contorno">
          </div>
    </td>
    </tr> 


    <div class="file-upload-container">
    <p-fileUpload mode="basic" [auto]="true" chooseLabel="Imagen"[disabled]="imagenSeleccionada"  name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [maxFileSize]="1000000" (onUpload)="onUpload($event)"></p-fileUpload>  
</div>
        <button type="submit">Editar Producto</button>
    </form>
</div>
</div>




