<div class="panel">
    <h3>Fecha: {{fechaDeHoy}}</h3>
   
    <hr>
    <ul>
      <li *ngFor="let item of panelItems">{{ item }}</li>
    </ul>
  </div>
  
  <h2>Reporte por Dia</h2>

  <div class="container-center">
  
 
  
  
    <div class="inner-container">
     
        <div class="box" [align]="">
          <div class="header">Fecha </div>
          <p-calendar [(ngModel)]="fecha" [showIcon]="true" ></p-calendar>
        </div>

       
       

        <div class="box">
          <p-radioButton 
                  name="opcion" 
                  value="entrada" 
                  [(ngModel)]="tiporeporte" 
                  inputId="entradaOption" />
              <label for="entradaOption" class="ml-2">
                  Entrada
              </label>
        

       
          <p-radioButton 
          name="opcion" 
          value="salida" 
          [(ngModel)]="tiporeporte" 
          inputId="salidaOption" />
      <label for="salidaOption" class="ml-2">
          Salida
      </label>
        </div>
       

    
      

        <div class="box-button">
          <p-button [routerLink]="['/reporteimpdia', fecha?.toISOString(),tiporeporte]">Generar Reporte</p-button>
        </div>
        
        
       
        
    </div>
    
   
     
   
  </div>

 

  